*{
    margin: 0;
    padding: 0;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 300px;
    padding: 50px;


#btn__number {
        height: 300px;
    }

}

  
